<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@9.1.1/dist/css/autoComplete.min.css"> -->

<title>Le Voyageur</title>

</head>
 <body>
<div id = "app">
  <div class ="header">
    <div class="text-wrapper">
      <h1>Going somewhere?</h1>
      <p>Plan your next trip</p>
    </div>

    <div class="card">
      <form action="">
        <div class="input-group">
          <label for="">City</label>
            <input type="text" id="city" placeholder="City">
        </div>
        <div class="input-group">
          <label for="">Country</label>
            <input type="text" class="country" id="autoComplete" placeholder="Country">
        </div>
        <div class="input-group">
          <label for="">Start Trip</label>
            <input type="date" id="start" name="trip-start" value="2021-05-01" min="2021-03-01" max="2021-12-31" required>
        </div>
        <div class="input-group">
          <label for="">End Trip</label>
            <input type="date" id="end" name="trip-end" value="2021-05-03" min="2021-03-11" max="2021-12-31" required>
        </div>
        <div class="input-group">
          <button class="save" id="submit">Add Trip</button>
        </div>
      </form>
    </div>
  </div>
  <section class="main">
    <div class="response-card" id="card-wrapper">
    </div>
    <aside>
      <h3>Your Completed Trips</h3>
      <p>Your completed trips will appear here.</p>
    </aside>
  </section>
  <footer>
    <div class="logo">
      <img alt="le-voyageur" id="footer-logo">
      <span>&copy; Goodness Obi for Udacity, 2021.</span>
    </div>
  </footer>
</div>
</body>
</html>