$lv-green: #004A2F;
$lv-blue: #002F35;
$lv-orange: #FF6337;
$lv-yellow: #FFA323;

$heading-font: 'Raleway', sans-serif;
$body-font: 'Roboto', sans-serif;

$small-screen: 565px;
$medium-screen: 965px;
$large-screen: 1200px; 