$primary-color: #282846;
$secondary-color: #007580;
$tertiary-color: #fed049;
$background-color: #d8ebe4;

$heading-font: 'Raleway', sans-serif;
$body-font: 'Roboto', sans-serif;

$small-screen: 565px;
$medium-screen: 965px;
$large-screen: 1200px; 