@import '_variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #fff;
    font-family: $body-font;  
}

#app{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(30px, auto);
    min-height:100vh;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    color: $primary-color;
    grid-gap: 10px;
    font-family: inherit;

    .header {
        grid-column: 1 / 4;
        grid-row: 1;
        border: 1px solid red;
        padding: 20px;
    }

    .main {
        grid-column: 1 / 3;
        grid-row: 2;
        border: 1px solid red;
        padding: 20px;
        .card {
            background: #F5FAFF;
            padding: 20px;
            width: 80%;
            margin: 20px auto;
            border-radius: 4px;


            h2 {
                font-family: $heading-font;
            }

            form {
                padding: 15px;
            }

            .row {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                margin: 20px 0;

                .input-group {
                    width: 45%;
                }

                &:last-child {
                    justify-content: flex-end;
                }

                @media(max-width: $medium-screen) {
                    .input-group {
                        width: 100%;
                    }
                }
            }

            @media(max-width: $medium-screen) {
               width: 100%;
            }
        }
    }

    aside {
        grid-column: 3/ 4;
        grid-row: 2;
        border: 1px solid red;
        padding: 20px;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #D9EDFF;
    }

    footer {
        grid-column: 1/ 4;
        grid-row: 3;
        border: 1px solid red;
        padding: 20px;
    }
    
    @media(max-width: $large-screen) {
        .main {
            grid-column: 1 / 4;
            grid-row: 2;
        }

        aside {
            grid-column: 1 / 4;
            grid-row: 3;
        }

        footer {
            grid-row: 4;
        }
    }

    @media(max-width: $small-screen) {
        width: 100%;
    }
}

/*  Basic Styling To Override Default For Basic HTML Elements */


button{
    // width: 400px;
    // height: 100px;
    background: $secondary-color;
    padding: 5px 15px;
    color: #fff;
    font-size: 14px;
    font-family: $body-font;
    border: none;
    margin-left: 15px;
    border-radius: 4px;
    // box-shadow: 2px 4px 5px #444;

    &.cancel {
        background: #741f1f;
    }
}
h1{
    font-size: 36px;
}

