@import '_variables.scss';
@import '_header.scss';
@import '_main.scss';
@import '_footer.scss';
@import '_error.scss';
@import '_resets.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: $body-font;
  
}

#app{
  display: flex;
  flex-direction: column;
  min-height:100vh;
  width: 100%;
  margin: 0 auto;
  color: $lv-blue;
  font-family: inherit;
  background: #fff;
  margin: auto;

  .header {
    width: 100%;
    // min-height: 100vh;
    min-height: 50vh;
  }

  .main {
    width: 80%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 50px 0;

    .response-card {
      width: 69%;
      // border: 1px solid #004A2F;
      // padding: 20px;
      border-radius: 40px;
    }

    aside {
      width: 29%;
      background: #E2E9F2;
      // border: 1px solid #004A2F;
      box-sizing: border-box;
      border-radius: 40px;
      padding: 20px;
      text-align: center;
      min-height: 300px;
    }

    @media(max-width: $medium-screen) {
      .response-card {
        width: 100%;
      }
  
      aside {
        width: 100%;
        min-height: auto;
        margin-top: 20px;
      }
    }
  }

  @media(max-width: $small-screen) {
    width: 100%;

    .main {
      width: 90%;
    }
  }
}

/*  Basic Styling To Override Default For Basic HTML Elements */


button{
  background: $lv-green;
  padding: 5px 15px;
  color: #fff;
  font-size: 14px;
  font-family: $body-font;
  border: none;
  margin-left: 15px;
  border-radius: 4px;

  &.cancel {
    background: $lv-orange;
  }
}
h1{
  font-size: 36px;
}

