@import '_variables.scss';

footer {
  padding: 10px;
  background: $lv-orange;
  color: #124936;
  font-size: 14px;

  .logo {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    #footer-logo {
      width: 100px;
      height: auto;
  
      @media(max-width: $medium-screen) { 
        width: 80px;
      }
    }
  }

  @media(max-width: $small-screen) {
   font-size: 12px;
  }
}