@import '_variables.scss';

.card.add-new-trip {
  form {
    font-size: 14px;
    
    input{
      width: 100%;
      background:#fff;
      // font-size: 18px;
      font-family: inherit;
      border: 1px solid black;
      padding: 5px;

      &::placeholder,
      &:-ms-input-placeholder,
      &::-ms-input-placeholder {
        color: #ccc; 
        font-family: $body-font;
  
      }
    }

    input:focus,
    select:focus,
    button:focus {
      outline: none;
    }
  }
}